/* html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
  } */

  html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #440e0e;
    color: #8d8787;
  }